body {
    background: #6fdd2f;
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 3em;
    font-family: 'Avenir Next', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

h1 strong {
    display: inline-block;
    font-size: 1.4em;
    color: #75aceb;
    margin: 0 0.25em;
}

canvas {
    border: 10px solid #c93cbb;
}
